/* Responsive Design */
/* Tablet */
@media (max-width: 768px) {
    .home {
        .hero-slide {
            min-height: 400px !important;

            .container {
                h1 {
                    font-size: 2.5rem !important;
                }

                p {
                    font-size: 1.1rem !important;
                }
            }
        }

        .category-card {
            height: 200px !important;
        }

        .product-card {
            margin-bottom: var(--spacing-lg) !important;
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    .base-auth {
        main {
            padding: 0 !important;
            .container {
                .auth {
                    div.col-lg-5.col-md-7 {
                        height: 100%;
                        padding: 0 !important;
                        .card {
                            min-height: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    .home {
        .home-common-section {
            padding: 0 var(--spacing-xs) !important;
        }

        .hero-slide {
            min-height: 300px !important;

            .container {
                padding: 0 var(--spacing-sm);

                h1 {
                    font-size: 2rem !important;
                }

                p {
                    font-size: 1rem !important;
                }
            }
        }

        .section-header .section-title {
            font-size: 1.8rem !important;
        }

        .category-card {
            height: 150px !important;

            .category-title {
                font-size: 1.4rem !important;
            }
        }

        .product-card {
            .product-image {
                height: 200px !important;
            }
        }
    }

}