{% load static %}
<header> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:home' %}">
                {% if active_theme and active_theme.logo %}
                    <img src="{{ active_theme.logo.url }}" alt="Logo" height="30">
                {% else %}
                    E-commerce Template
                {% endif %}
            </a>
            <a class="navbar-localize" href="#" data-bind="click: $root.onAddress">
                <div class="navbar-localize-container-title">
                    {% if user.is_authenticated %}
                        <span class="navbar-localize-title" data-i18n="navbar.localize-title"></span>
                        <p class="navbar-localize-title-user">{{ user.first_name }}</p>
                    {% else %}
                        <p class="navbar-localize-title-user" data-i18n="navbar.update-cep"></p>
                    {% endif %}
                </div>
                <div class="navbar-localize-container-address">
                    <i class="navbar-localize-icon fas fa-map-marker-alt"></i>
                    {% if user.is_authenticated %}
                        {% with user.addresses.all as addresses %}
                            {% with False as encontrado %}
                                {% for address in addresses %}
                                    {% if not encontrado and address.is_default %}
                                        {% if address.address_type == "shipping" or address.address_type == "both" %}
                                            <p>{{ address.city }} {{ address.postal_code }}</p>
                                        {% endif %}
                                        {% with True as encontrado %}{% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        {% endwith %}
                    {% else %}
                        <p data-i18n="navbar.localize-address-not-found" openLoginModal></p>
                    {% endif %}
                </div>
            </a>
            <div class="navbar-search">
                <form>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pesquisar em BRAVA.com.br">
                    <button type="submit" class="btn btn-primary-darker"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="navbar-settings" id="navOptions">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="navbar-settings-container-welcome">
                                    <span data-i18n="navbar.welcome"></span>, {{ user.get_short_name|default:user.username }}
                                </div>
                                <div class="navbar-settings-container-title">
                                    <span data-i18n="navbar.welcome-title-drop"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu navbar-dropdown-settings" aria-labelledby="userDropdown">
                                <div class="container-list-options login"></div>
                                {% comment %} <a class="dropdown-item" href="{% url 'users:profile' %}">Meu Perfil</a>
                                <a class="dropdown-item" href="{% url 'orders:order_list' %}">Meus Pedidos</a>
                                <a class="dropdown-item" href="{% url 'users:address_list' %}">Meus Endereços</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Sair</a> {% endcomment %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="navbar-settings-container-welcome">
                                    <span data-i18n="navbar.welcome"></span>,<span data-i18n="navbar.make-login"></span>,
                                </div>
                                <div class="navbar-settings-container-title">
                                    <span data-i18n="navbar.welcome-title-drop"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu navbar-dropdown-settings" aria-labelledby="userDropdown">
                                <div class="container-list-options login">
                                    <a class="btn btn-primary full" href="{% url 'account_login' %}" data-i18n="navbar.make-login"></a>
                                    <div class="container-new-user">
                                        <span class="new-client-msg" data-i18n="navbar.new-user-question"></span>
                                        <a class="new-client-link" href="{% url 'account_signup' %}" data-i18n="navbar.make-register"></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item cart">
                        <a class="nav-link" href="{% url 'orders:cart_detail' %}">
                            <i class="fas fa-shopping-cart"></i>
                            <span data-i18n="navbar.cart"></span>
                            <span class="badge badge-light" id="cart-count">
                                {% if request.user.is_authenticated %}
                                    {{ request.user.cart.item_count|default:"0" }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <subnav>
        <div id="subnav-controll" class="navbar-subnav">
            <div class="arrow left" id="subnav-scroll-arrow-left">&#10094;</div>
            <ul class="subnav-controll-list">
                <li class="subnav-item">
                    <a class="subnav-link" href="{% url 'products:product_list' %}" data-i18n="navbar.products"></a>
                </li>
                <li class="subnav-item">
                    <a class="subnav-link" href="{% url 'products:product_list' %}">ERP Comercial</a>
                </li>
                <li class="subnav-item">
                    <a class="subnav-link" href="{% url 'products:product_list' %}">Landing Pages</a>
                </li>
                <li class="subnav-item">
                    <a class="subnav-link" href="{% url 'products:product_list' %}">Sistemas Embarcados</a>
                </li>
                <li class="subnav-item">
                    <a class="subnav-link" href="{% url 'products:product_list' %}">Automatizações Comerciais</a>
                </li>
                <li class="subnav-item">
                    <a class="subnav-link" href="{% url 'products:product_list' %}">Plano de Suporte</a>
                </li>
                {% if active_theme and active_theme.show_categories_menu %}
                    {% for category in categories %}
                        <li class="subnav-item">
                            <a class="subnav-link" href="{% url 'products:category_detail' category.slug %}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                <li class="subnav-item">
                    <a class="subnav-link" href="{% url 'core:contact' %}" data-i18n="navbar.contacts"></a>
                </li>
            </ul>
            <div class="arrow right" id="subnav-scroll-arrow-right">&#10095;</div>
        </div>
    </subnav>
</header>
<module data-tag="{% static 'js/modules/navbar.js' %}"></module>